/* Body text */
body {
  background-color: hsl(324, 76%, 78%);
  text-align: center;
}

/* Call-to-action container */
.cta {
  border: 15px solid hsl(320, 94%, 24%);
  margin: auto;
  width: 20%;
  background-color: hsl(320, 94%, 24%);
  padding: 50px;
  border-radius: 10%;
  color: hsl(0, 0%, 100%);
}

/* Call to Action "button" */
.cta a,
.cta a:visited {
  text-decoration-line: none;
  background-color: hsl(324, 76%, 78%);
  font-weight: bold;
  color: hsl(320, 94%, 24%);
  border-radius: 10%;
  padding: 10px;
}

/* Hover state */
.cta a:hover {
  background-color: hsl(313, 93%, 34%);
  color: hsl(0, 0%, 100%);
}

/* Click state */
.cta a:active {
  color: hsl(324, 76%, 78%);
}
